<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
            xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
            xmlns:msi="http://wixtoolset.org/schemas/v4/wxs/msi"
            xmlns:ex="http://wixtoolset.org/schemas/v4/wxs/ex"
            xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Bundle Id="TODO_Manufacturer.Wix6_Sample_Bootstrapper" 
          Name="Wix6 Sample Installer" 
          Manufacturer="FreeAndEasy Tech" 
          Version="6.0.0.0"
          UpgradeCode="{0D8823F1-30AD-4263-A0D6-3455A0D1CAC1}">
    <!--  NOTE: to create a fresh UpgradeCode from within Visual Studio 2022
          use the Menu options:  Tools / Create GUID / Registry Format / New GUID / Copy / Exit -->

	  <WixVariable Id="WixUILicenseRtf"
                   Value="Resources\My License Agreement.rtf" />
	  
    <!--  If you want to place a hyperlink on the bootstrapper startup dialog
          for a customized corporate license file, use the following code:
              <BootstrapperApplication>
                  <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
              </BootstrapperApplication>
    -->

    <!--  If you want to directly display a customized corporate license file 
	      (i.e., not a hyperlink to the file) on the bootstrapper startup dialog
		  use the code below: -->	  
      <BootstrapperApplication>
      <Payload SourceFile=".\Resources\MyLicenseAgreement.rtf"/>
      <bal:WixStandardBootstrapperApplication
        ShowVersion="yes"
        LicenseFile=".\Resources\MyLicenseAgreement.rtf"
        SuppressOptionsUI="yes"
        LogoFile=".\Resources\LogoFileGENERIC.bmp"
        LogoSideFile=".\Resources\LogoSideFileGENERIC.bmp"
        Theme="rtfLicense" />
    </BootstrapperApplication>

    <Chain>
      <!--Put all the *.msi, *.exe, etc. packages here!
      They are order-dependent, top-to-bottom
      unless you use the After="" attribute.
      Therefore, list the prerequisites (if any) first. -->

      <!-- For example, here's the Microsoft Win64 .Net Core 8 redistributable -->
      <ExePackage Id="DotNetCore8" 
                  SourceFile=".\Resources\windowsdesktop-runtime-8.0.16-win-x64.exe"
                  InstallArguments="/quiet /norestart"
                  Permanent="yes"
                  DetectCondition="NETCORE8DESKTOP"/>
      
      <!-- It's good proactice to set a rollback boundary after prerequisites -->
      <RollbackBoundary />
      
		<!-- Special note: as of version 6 WiX no longer allows the DisplayInternalUI="yes" attribute 
		                   for an MsiPackage element in the Chain.
		                   In earlier versions it could be used to display the msi setup's dialogs
						   in case you used a dialog set like WixUI_Mondo.
						   But if the user chooses to directly install the msi package
						   outside of the bootstrapper, the UI will be visible. -->
		
      <MsiPackage Id="SetupMsiPackage" SourceFile="Wix6-Sample-Setup.msi" />
    </Chain>

  </Bundle>
</Wix>
